- var work = public.works._data[work_slug]
- var posts = public.blog._data
- var slugs = Object.keys(posts)
- var currentIndex = slugs.indexOf(current.source)
- var previousSlug = slugs[currentIndex - 1]
- var previousPost = posts[previousSlug]
- var nextSlug = slugs[currentIndex + 1]
- var nextPost = posts[nextSlug]

.container
	h1.jh-page-header #{ title }
	p.text-right #{ author }
	p.text-right #{ date }

	block post

		if work
			p This article is about the work #[a(href="/works/#{ work_slug }") #{ work.title }].

		p
			|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consectetur dui, vel facilisis ligula. Morbi venenatis ve
			|lit sit amet bibendum pharetra. Sed lorem libero, varius id maximus in, convallis quis arcu. Praesent sed diam volutpat, d
			|ictum risus convallis, mattis turpis. Sed iaculis nulla quis orci consequat scelerisque. Mauris pulvinar erat tellus, non
			|luctus purus egestas eget. Nunc id posuere ante. Phasellus non enim vestibulum lectus bibendum lacinia. Donec interdum nun
			| turpis, nec egestas dui dictum a. Donec viverra velit vel scelerisque cursus. Morbi sapien magna, sagittis at imperdiet e
			|t, posuere ut diam.

		if work
			img.jh-figure(src="#{ work.image_uri }")

		p
			|Donec gravida luctus lacinia. Integer efficitur rutrum dui vel lacinia. Integer condimentum leo tellus, sit amet dictum au
			|gue finibus quis. Nam ut eros nisl. Curabitur eu dignissim ex, ut facilisis lorem. Proin porttitor pharetra felis sit amet
			| ultrices. Nunc varius vitae leo ac consequat. Nam bibendum auctor orci sed eleifend. Mauris vitae enim interdum, egestas
			|justo nec, congue mi. Nunc quis facilisis leo. Maecenas sit amet vulputate diam. Donec orci nisl, convallis at maximus a,
			|ermentum quis neque. Aenean et interdum leo. Donec pulvinar nunc sed lorem tincidunt, at vehicula dolor consectetur. Aliqu
			|am sed condimentum velit, non eleifend lacus.
		p
			|Sed id nibh egestas, lobortis sem a, dapibus nisl. Phasellus eu tempus magna. Vivamus sollicitudin metus at augue pretium,
			| in pellentesque ante lobortis. Aenean scelerisque laoreet dolor, vel imperdiet ex rhoncus sit amet. Etiam aliquet lacus a
			|t convallis pretium. Suspendisse blandit dui quis augue faucibus, eget efficitur lacus blandit. Duis laoreet sodales est,
			|id efficitur tortor lobortis non. Sed sagittis, nulla eget facilisis fermentum, sapien libero pulvinar felis, vel vestibul
			|m lorem risus ac augue. Nam elementum ultrices justo, ultrices laoreet nibh commodo sit amet. Quisque sit amet feugiat dol
			|or, non posuere tortor. Nulla condimentum sollicitudin elit eu molestie.

	if previousPost
		a.jh-button.jh-interactive-trigger.jh-interactive-color.pull-left(href="/blog/#{ previousSlug }")
			h2
				i.jh-button-icon.jh-interactive-background.fa.fa-chevron-left
				| #{' '}
				span.jh-interactive-text.jh-interactive-appear #{previousPost.title}


	if nextPost
		a.jh-button.jh-interactive-trigger.jh-interactive-color.pull-right(href="/blog/#{ nextSlug }")
			h2
				span.jh-interactive-text.jh-interactive-appear #{nextPost.title}
				| #{' '}
				i.jh-button-icon.jh-interactive-background.fa.fa-chevron-right
