a(href="#{ image_uri }")
	img.gallery-image(src="#{ image_uri }")

.gallery-properties.text-right
	h1 #{ title }
	p By #{ artist }
	p #{ date_started } - #{ date_finished }
	p #{ dimensions }
	p #{ medium }

.gallery-description
	.container
		p
			| A mysterious description of an even more mysterious project, or not? A question left
			| unanswered for centuries, and it will hopefully remain that way for many more.