- var works = public.works._data
- var slugs = Object.keys(works)
- var currentIndex = slugs.indexOf(current.source)
- var previousSlug = slugs[currentIndex - 1]
- var nextSlug = slugs[currentIndex + 1]

img.jh-works-image(src="#{ image_uri }")

if previousSlug
	a.jh-works-previous.jh-button.jh-interactive-trigger.jh-interactive-color(href="/works/#{ previousSlug }")
		i.jh-button-icon.jh-interactive-background.fa.fa-chevron-left

if nextSlug
	a.jh-works-next.jh-button.jh-interactive-trigger.jh-interactive-color(href="/works/#{ nextSlug }")
		i.jh-button-icon.jh-interactive-background.fa.fa-chevron-right

.container
	.row
		.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
			.jh-works-properties
				h1 #{ title }
				p By #{ artist }
				p #{ date }
				p #{ dimensions }
				p #{ medium }
