a(href="#{ image_uri }")
	img.gallery-image(src="#{ image_uri }")

a.gallery-previous(href="#{ previous_uri }")
	i.fa.fa-chevron-left

a.gallery-next(href="#{ next_uri }")
	i.fa.fa-chevron-right

.gallery-properties.text-right
	h1 #{ title }
	p By #{ artist }
	p #{ date } 
	p #{ dimensions }
	p #{ medium }

.gallery-description
	.container
		p
			| A mysterious description of an even more mysterious project, or not? A question left
			| unanswered for centuries, and it will hopefully remain that way for many more.